@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.BikeDetails-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.BikeDetails-container h1 {
  font-size: 2rem;

  color: #333;
  margin-bottom: 20px;
}

.BikeDetails-container p {
  max-width: 700px; /* Increased max-width for better readability */
  margin: 0 auto; /* Center the paragraph horizontally */
  font-size: 0.9rem; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height for better spacing */
  color: #131010; /* Dark gray color for text */
  text-align: justify; /* Justify the text for better alignment */
  padding: 0 20px 30px 20px; /* Add padding for better spacing */
}

.BikeDetails-container h2 {
  font-family: "Roboto", sans-serif; /* Use Roboto font from Google Fonts */
  font-size: 2rem; /* Adjust the font size as needed */
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.button {
  width: 150px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #360b9b;
}

.button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
}

.button:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}
.booking-image {
  max-width: 400px; /* Adjust this value as needed */
  max-height: 400px; /* Adjust this value as needed */
  border: 2px solid rgb(51, 43, 42); /* Border style and color */
  border-radius: 10px;
  margin-top: 20px; /* Rounded border corners */
}

.middle-container{
  margin: 0 20%;
}


.form-container{
  padding: 0;
  width: 100%;
}

.booking-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.booking-container{
  background-color: white;
}

@media (max-width: 768px) {
  .middle-container{
    margin: 10px;
  }
}